= f.error_notification
= f.input :image,
        placeholder: t('activerecord.models.photo.attributes.name.placeholder'),
        required: true,
        label: t('photo'),
        wrapper: :horizontal_file

= f.input :name,
        placeholder: t('activerecord.models.photo.attributes.name.placeholder'),
        required: true,
        label: t('name'),
        wrapper: :horizontal_form

= f.input :description,
        placeholder: t('activerecord.models.photo.attributes.description.placeholder'),
        required: true,
        label: t('description'),
        wrapper: :horizontal_form
