= content_for(:title, t('admin.items.edit work'))
= simple_form_for [:admin, @photo, @item] do |f|
  /! Main content
  .content
    .container-fluid
      /! /.container-fluid
      /! /.content
      .row
        .col-md-8
          .card.card-yellow
            .card-header
              = t('admin.items.edit work')
            .card-body
              - if @item.image.attached?
                div style=("border: 1px solid #28A745; padding: 2px")
                  = image_tag @item.image.variant(resize: '200'), alt: @item.name
                = t('remove photo')
                |  #{link_to t('do it'), destroy_image_admin_photo_item_path(@photo,@item), method: :delete}
                p
              - else
                p style=("border: 1px solid #28A745; padding: 2px")
                  = image_tag 'backend/default-image.jpg', size: 200, alt: 'Photo Image'
              = render partial: 'form', locals: {f: f}
            .card-footer
              = link_to  admin_photo_items_path, class: 'btn btn-danger'
                = t(:cancel)
              = f.submit t(:save), class: 'btn btn-success pull-right'
