= content_for(:title, t('admin.items.work collection') + @photo.name)
/ ! Main content
.content
  .container-fluid
    /! /.container-fluid
    /! /.content
    .row
      .col-md-6.col-md-offset-10
        = link_to new_admin_photo_item_path, class: 'btn btn-success pull-right'
          i.fas.fa-plus
          |
          = t('admin.items.new work')
    .row
      p

    .row
      .col-12
        .card.card-yellow
          .card-header
            h3.card-title
              = t('admin.items.work collection') + @photo.name
          /! /.card-header
          .card-body.p-0
            table.table.table-condensed
              thead
                tr
                  th style=("width: 50px")
                    = t('photo')
                  th style=("width: 30px")
                    = t('name')
                  th
                    = t('description')
                  th style=("width: 15px")
                    = t('action')

              tbody
                - @items.each do |item|
                  tr
                    td
                      - if item.image.attached?
                        = image_tag item.image.variant(resize: '50'), alt: item.name
                          = item.name
                      - else
                        = image_tag 'backend/default-image.jpg', size: 50, alt: 'Photo Image'
                    td
                      = item.name
                    td
                      = item.description
                    td
                      .btn-row
                        = link_to raw('<i class="far fa-edit"></i>'), edit_admin_photo_item_path(@photo,item),
                                class: 'btn btn-sm btn-warning',
                                style: 'margin-right: 10px',
                                title: t('edit')
                        = link_to raw('<i class="far fa-trash-alt"></i>'), admin_photo_item_path(@photo,item),
                                class: 'btn btn-sm btn-warning',
                                method: :delete,
                                data: {confirm: t('confirm')},
                                title: t('remove')
          /! /.card-body
