= content_for(:title, t('admin.items.new work'))
= simple_form_for [:admin, @photo, @item] do |f|
  /! Main content
  .content
    .container-fluid
      /! /.container-fluid
      /! /.content
      .row
        .col-md-8
          .card.card-yellow
            .card-header
              = t('admin.items.new work')
            .card-body
              = render partial: 'form', locals: {f: f}
            .card-footer
              = link_to  admin_photo_items_path, class: 'btn btn-danger'
                = t(:cancel)
              = f.submit t(:save), class: 'btn btn-success pull-right'
