= content_for(:title, t('admin.photos.edit work collection'))
= simple_form_for [:admin, @photo] do |f|
  /! Main content
  .content
    .container-fluid
      /! /.container-fluid
      /! /.content
      .row
        .col-md-8
          .card.card-yellow
            .card-header
              = t('admin.photos.edit work collection')
            .card-body
              - if @photo.image.attached?
                div style=("border: 1px solid #28A745; padding: 2px")
                  = image_tag @photo.image.variant(resize: '200'), alt: @photo.name
                = t('remove photo')
                |  #{link_to t('do it'), destroy_image_admin_photo_path(@photo), method: :delete}
                p
              - else
                p style=("border: 1px solid #28A745; padding: 2px")
                  = image_tag 'backend/default-image.jpg', size: 200, alt: 'Photo Image'
              = render partial: 'form', locals: {f: f}
            .card-footer
              = link_to  admin_photos_path, class: 'btn btn-danger'
                = t(:cancel)
              = f.submit t(:save), class: 'btn btn-success pull-right'
