= content_for(:title, t('admin.photos.work collection'))
/! Main content
.content
  .container-fluid
    /! /.container-fluid
    /! /.content
    .row
      .col-md-6.col-md-offset-10
        = link_to new_admin_photo_path, class: 'btn btn-success pull-right'
          i.fas.fa-plus
          |
          = t('admin.photos.add new work collection')
    .row
      p

    .row
      .col-12
        .card.card-yellow
          .card-header
            h3.card-title
              = t('admin.photos.work collection')
          /! /.card-header
          .card-body.p-0
            table.table.table-condensed
              thead
                tr
                  th style=("width: 50px")
                    = t('photo')
                  th style=("width: 30px")
                    = t('name')
                  th
                    = t('description')
                  th style=("width: 15px")
                    = t('action')

              tbody
                - @photos.each do |photo|
                  tr
                    td
                      - if photo.image.attached?
                        = link_to admin_photo_items_path(photo)
                          - if photo.image.present?
                            = image_tag photo.image.variant(resize: '50'), alt: photo.name
                              = photo.name
                      - else
                        = link_to admin_photo_items_path(photo)
                          = image_tag 'backend/default-image.jpg', size: 50, alt: 'Photo Image'
                    td
                      = photo.name
                    td
                      = photo.description
                    td
                      .btn-row
                        = link_to raw('<i class="far fa-edit"></i>'), edit_admin_photo_path(photo),
                                class: 'btn btn-sm btn-warning',
                                style: 'margin-right: 10px',
                                title: t('edit')
                        = link_to raw('<i class="far fa-trash-alt"></i>'), admin_photo_path(photo),
                                class: 'btn btn-sm btn-warning',
                                method: :delete,
                                data: {confirm: t('confirm')},
                                title: t('remove')
          /! /.card-body
