.row.justify-content-center
  .col-md-12.text-center.py-5
    p
      /! Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      |  Copyright © 2020
      / javascript:
         document.write(new Date().getFullYear());
      |  All rights reserved | This template is made with
      i.icon-heart aria-hidden="true"
      |  by
      a href="https://colorlib.com" target="_blank"  Colorlib
/ ! Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

= javascript_include_tag 'frontend', media: 'all', 'data-turbolinks-track': 'reload'
