title Shutter — Colorlib Website Template
meta charset="utf-8" /
meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" /
link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet" /
/ link href="fonts/icomoon/style.css" rel="stylesheet" /
/ link href="css/bootstrap.min.css" rel="stylesheet" /
/ link href="css/magnific-popup.css" rel="stylesheet" /
/ link href="css/jquery-ui.css" rel="stylesheet" /
/ link href="css/owl.carousel.min.css" rel="stylesheet" /
/ link href="css/owl.theme.default.min.css" rel="stylesheet" /
/ link href="css/bootstrap-datepicker.css" rel="stylesheet" /
/ link href="fonts/flaticon/font/flaticon.css" rel="stylesheet" /
/ link href="css/aos.css" rel="stylesheet" /
/ link href="css/fancybox.min.css" rel="stylesheet" /
/ link href="css/style.css" rel="stylesheet" /
