.site-mobile-menu
  .site-mobile-menu-header
    .site-mobile-menu-close.mt-3
      span.icon-close2.js-menu-toggle
  .site-mobile-menu-body
header.header-bar.d-flex.d-lg-block.align-items-center data-aos="fade-left"
  .site-logo
    a href="/index.html"  Logo
  .d-inline-block.d-xl-none.ml-md-0.ml-auto.py-3 style=("position: relative; top: 3px;")
    a.site-menu-toggle.js-menu-toggle.text-white href="#"
      span.icon-menu.h3
  .main-menu
    ul.js-clone-nav
      li
        a href="/index.html" Home
      / li
      /   a href="/photos.html"  Photos
      li
        a href="/about.html"  About Me
      / li
      /   a href="blog.html"  Blog
      li
        a href="contact.html"  Contact
    ul.social.js-clone-nav
      li
        a href="#"
          span.icon-facebook
      li
        a href="#"
          span.icon-twitter
      li
        a href="#"
          span.icon-instagram
    ul.js-clone-nav
      li
        .frontend-login
          p
          - if current_user
            p
              = t('welcome')
              | &nbsp;
            p
              = link_to admin_root_path
                = current_user.email
            p
              = link_to destroy_user_session_path, method: :delete
                = t('devise.custom.log out')
          - else
            = t('welcome')
            | &nbsp;
            = t('devise.custom.guest')
            p
              = link_to new_user_session_path
                = t('devise.custom.log in')
