.row.justify-content-center
  .col-md-6.pt-4
    figure.mb-5 data-aos="fade-up"
      = image_tag 'backend/default-avatar.png', alt: 'Image', class: 'img-fluid'
    h2.text-white.mb-4 data-aos="fade-up"  Hey There! I'm Rhea
    .row data-aos="fade-up"
      .col-md-12
        p
          | Lorem ipsum dolor sit amet, consectetur
          a href="#"  adipisicing
          |  elit. Ipsa explicabo quasi cum, laudantium neque at veniam itaque atque
          a href="#"  necessitatibus
          |  temporibus! Beatae sit soluta magni neque autem, suscipit dolorem, quo alias.
        p
          |  Similique deserunt sit accusamus ipsum optio. Quia, sapiente saepe culpa ad nemo velit,
          a href="#"  veritatis
          |  numquam impedit voluptate quo tempore. Perferendis suscipit dolores, ducimus esse cupiditate possimus quae quis iusto rem?
        p Excepturi soluta maxime velit vitae tempore corporis, aliquid quidem modi libero! Optio minima esse hic repellendus a dolor perferendis dolore impedit quis et! Minus maxime itaque beatae totam eos reiciendis.
        p.mb-5 Ad veritatis eos dicta, animi et voluptates iusto, excepturi corporis amet, laboriosam, officiis libero. Odio excepturi aliquid suscipit nobis odit. Tenetur expedita impedit error consequatur sunt voluptatum voluptate voluptatem vitae!
        p cass="mt-4"
          | Thanks!
          br/
          | Rhea M.