.row.justify-content-center
  .col-md-6.pt-4 data-aos="fade-up"
    h2.text-white.mb-4 Contact Me
    .row
      .col-md-12
        p.mb-5
          | Lorem ipsum dolor sit amet, consectetur
          a href="#"  adipisicing
          |  elit. Ipsa explicabo quasi cum, laudantium neque at veniam itaque atque
          a href="#"  necessitatibus
          |  temporibus! Beatae sit soluta magni neque autem, suscipit dolorem, quo alias.
        .row
          .col-md-12
            form action="#"
              .row.form-group
                .col-md-6.mb-3.mb-md-0
                  label.text-white for="fname"  First Name
                  input#fname.form-control type="text" /
                .col-md-6
                  label.text-white for="lname"  Last Name
                  input#lname.form-control type="text" /
              .row.form-group
                .col-md-12
                  label.text-white for="email"  Email
                  input#email.form-control type="email" /
              .row.form-group
                .col-md-12
                  label.text-white for="subject"  Subject4
                  input#subject.form-control type="subject" /
              .row.form-group.mb-5
                .col-md-12
                  label.text-white for="message"  Message
                  textarea#message.form-control cols="30" name="message" placeholder=("Write your notes or questions here...") rows="7"
              .row.form-group
                .col-md-12
                  input.btn.btn-primary.btn-md.text-white type="submit" value=("Send Message") /
