.col-6.col-md-6.col-lg-4 data-aos="fade-up" data-aos-delay="100"
  = link_to "/", class: 'd-block photo-item'
    = image_tag 'backend/plus.png', size: 300,  alt: 'Image'
    .photo-text-more
      .photo-text-more
        h3.heading Ваш варіант прикраси
        span.meta Натисніть тут