= content_for(:title, @photo.name)
.row.pt-4.mb-5.text-center
  .col-12
    h2.text-white.mb-4
      = @photo.name
.row.align-items-stretch
  - @items.each do |item|
    .col-6.col-md-6.col-lg-4 data-aos="fade-up" data-aos-delay="100"
      = link_to item.image, class: 'd-block photo-item', 'data-fancybox' => 'gallery'
        = image_tag item.image, alt: 'Image', class: 'img-fluid'
        .photo-text-more
          .photo-text-more
            h3.heading
              = item.name
            span.icon.icon-search
.row.justify-content-center
  .col-md-12.text-center.py-5
