.row.pt-4.mb-5.text-center
  .col-12
    h2.text-white.mb-4 'Nature' — 19 Photos
.row.align-items-stretch
  .col-6.col-md-6.col-lg-3 data-aos="fade-up"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-6 data-aos="fade-up" data-aos-delay="100"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-3 data-aos="fade-up" data-aos-delay="200"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-8 data-aos="fade-up"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-4 data-aos="fade-up" data-aos-delay="100"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-6 data-aos="fade-up"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-6 data-aos="fade-up" data-aos-delay="100"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-4 data-aos="fade-up"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-4 data-aos="fade-up" data-aos-delay="100"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-4 data-aos="fade-up" data-aos-delay="200"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-3 data-aos="fade-up"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-6 data-aos="fade-up" data-aos-delay="100"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-3 data-aos="fade-up" data-aos-delay="200"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-8 data-aos="fade-up"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-4 data-aos="fade-up" data-aos-delay="100"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-6 data-aos="fade-up"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-6 data-aos="fade-up" data-aos-delay="100"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-4 data-aos="fade-up"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
  .col-6.col-md-6.col-lg-8 data-aos="fade-up" data-aos-delay="100"
    = link_to image_url('backend/default-image.jpg'), class: 'd-block photo-item', 'data-fancybox' => 'gallery'
      = image_tag 'backend/default-image.jpg', alt: 'Image', class: 'img-fluid'
      .photo-text-more
        span.icon.icon-search
.row.justify-content-center
  .col-md-12.text-center.py-5
