.row.align-items-stretch
  - @photos.each do |photo|
    - if photo.image.attached?
      .col-6.col-md-6.col-lg-4 data-aos="fade-up" data-aos-delay="100"
        = link_to photo_items_path(photo), class: 'd-block photo-item'
          = image_tag photo.image, alt: 'Image', class: 'img-fluid'
          .photo-text-more
            .photo-text-more
              h3.heading
                = photo.name
              span.meta
                | #{photo.items.count} фото
.row.justify-content-center
  .col-md-12.text-center.py-5

