/*   	
 *   	Flaticon icon font: Flaticon
 *   	Creation date: 11/02/2019 11:47

@font-face
  font-family: "Flaticon"
  src: font-url("Flaticon.eot")
  src: font-url("Flaticon.eot?#iefix") format("embedded-opentype"), font-url("Flaticon.woff2") format("woff2"), font-url("Flaticon.woff") format("woff"), font-url("Flaticon.ttf") format("truetype"), font-url("Flaticon.svg#Flaticon") format("svg")
  font-weight: normal
  font-style: normal

@media screen and (-webkit-min-device-pixel-ratio: 0)
  @font-face
    font-family: "Flaticon"
    src: font-url("Flaticon.svg#Flaticon") format("svg")

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after
  font-family: Flaticon
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.flaticon-mexican-taco:before
  content: "\f100"

.flaticon-house:before
  content: "\f101"

.flaticon-guitar:before
  content: "\f102"

.flaticon-gym:before
  content: "\f103"

.flaticon-shopping-bag:before
  content: "\f104"

.flaticon-cocktail:before
  content: "\f105"