/! Content Header (Page header)
.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        h1.m-0.text-dark
          = content_for?(:title) ? yield(:title) : Rails.application.credentials[Rails.env.to_sym][:site_title]
      /! /.col
      .col-sm-6
        ol.breadcrumb.float-sm-right
          li.breadcrumb-item
            a[href="#"]
              = t('admin.home')
          li.breadcrumb-item.active
            = content_for?(:title) ? yield(:title) : Rails.application.credentials[Rails.env.to_sym][:site_title]
    = render partial: 'admin/shared/flash'
    /! /.col
    /! /.row
    /! /.container-fluid
    /! /.content-header