doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title
      = content_for?(:title) ? yield(:title) : Rails.application.credentials[Rails.env.to_sym][:site_title]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'backend', 'data-turbolinks-track': 'reload'
    = render partial: 'admin/shared/head'
  body.hold-transition.sidebar-mini
    .wrapper
    = render partial: 'admin/shared/header'
    = render partial: 'admin/shared/sidebar'
    / = render partial: 'admin/shared/flash'
    /! Content Wrapper. Contains page content
    .content-wrapper
      = render partial: 'admin/shared/content_header'
      = yield
    /! /.content-wrapper
    = render partial: 'admin/shared/footer'
    = render partial: 'admin/shared/foot'

