doctype html
html
  head
    title
      = content_for?(:title) ? yield(:title) : Rails.application.credentials[Rails.env.to_sym][:site_title]
	= csrf_meta_tags
	= csp_meta_tag
	= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track': 'reload'
	= javascript_include_tag 'frontend_head', media: 'all', 'data-turbolinks-track': 'reload'
	= render partial: 'shared/head'
  body
    .site-wrap
      = render partial: 'shared/header'
      / = render partial: 'shared/flash'
      main.main-content
        .container-fluid.photos
          = yield
        = render partial: 'shared/footer'
      / = render partial: 'shared/foot'
